@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 10em;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.navbar .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.navbar-links{
    margin-left: auto;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2em;    
}

.navbar ul a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    margin: 5em 0;
    gap: 1em;
}

h1.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    max-width: 100%;
}

p.header-sub{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 100%;
    margin: 1em 0;
}

.hero-text .signup{
    font-size: 18px;
    color: #e5e7eb;
    padding: .2em 1.5em;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
}

.hero > img{
    max-width: 50%;
    border-radius: 3px;
    box-shadow: 7px 7px 5px hsla(0, 0%, 0%, 20%);
}

/* Info section */

.info-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em;
}

.info-section > h2.info-title{
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

.info-container > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 0;
    gap: 3em;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

li > img{
    width: 200px;
    height: 200px;
    border: #3882f6 solid;
    border-radius: 10px;
    object-fit:cover;
}

li > p.img-sub{
    font-size: 18px;
    color: hsla(0, 0%, 0%, 85%);
    margin: .2em 0;
}

